CleanPOS/Application/bin/Debug/net7.0/Application.dll
CleanPOS/Application/bin/Debug/net7.0/Application.dll
CleanPOS/Application/bin/Debug/net7.0/Application.pdb
CleanPOS/Application/bin/Debug/net7.0/Domain.dll
CleanPOS/Application/bin/Debug/net7.0/Domain.pdb
CleanPOS/Application/obj/Debug/net7.0/Application.AssemblyInfo.cs
CleanPOS/Application/obj/Debug/net7.0/Application.AssemblyInfoInputs.cache
CleanPOS/Application/obj/Debug/net7.0/Application.csproj.AssemblyReference.cache
CleanPOS/Application/obj/Debug/net7.0/Application.csproj.CoreCompileInputs.cache
CleanPOS/Application/obj/Debug/net7.0/Application.csproj.FileListAbsolute.txt
CleanPOS/Application/obj/Debug/net7.0/Application.dll
CleanPOS/Application/obj/Debug/net7.0/Application.pdb
CleanPOS/Application/obj/Debug/net7.0/Application.sourcelink.json
CleanPOS/Application/obj/Debug/net7.0/ref/Application.dll
CleanPOS/Application/obj/Debug/net7.0/refint/Application.dll
CleanPOS/Domain/bin/Debug/net7.0/Domain.dll
CleanPOS/Domain/bin/Debug/net7.0/Domain.pdb
CleanPOS/Domain/obj/Debug/net7.0/Domain.AssemblyInfo.cs
CleanPOS/Domain/obj/Debug/net7.0/Domain.AssemblyInfoInputs.cache
CleanPOS/Domain/obj/Debug/net7.0/Domain.csproj.CoreCompileInputs.cache
CleanPOS/Domain/obj/Debug/net7.0/Domain.csproj.FileListAbsolute.txt
CleanPOS/Domain/obj/Debug/net7.0/Domain.dll
CleanPOS/Domain/obj/Debug/net7.0/Domain.pdb
CleanPOS/Domain/obj/Debug/net7.0/Domain.sourcelink.json
CleanPOS/Domain/obj/Debug/net7.0/ref/Domain.dll
CleanPOS/Domain/obj/Debug/net7.0/refint/Domain.dll
CleanPOS/Infrastructure/bin/Debug/net7.0/Application.dll
CleanPOS/Infrastructure/bin/Debug/net7.0/Application.pdb
CleanPOS/Infrastructure/bin/Debug/net7.0/Domain.dll
CleanPOS/Infrastructure/bin/Debug/net7.0/Domain.pdb
CleanPOS/Infrastructure/bin/Debug/net7.0/Infrastructure.dll
CleanPOS/Infrastructure/bin/Debug/net7.0/Infrastructure.pdb
CleanPOS/Infrastructure/obj/Debug/net7.0/Infrastructure.AssemblyInfo.cs
CleanPOS/Infrastructure/obj/Debug/net7.0/Infrastructure.AssemblyInfoInputs.cache
CleanPOS/Infrastructure/obj/Debug/net7.0/Infrastructure.csproj.AssemblyReference.cache
CleanPOS/Infrastructure/obj/Debug/net7.0/Infrastructure.csproj.CoreCompileInputs.cache
CleanPOS/Infrastructure/obj/Debug/net7.0/Infrastructure.csproj.FileListAbsolute.txt
CleanPOS/Infrastructure/obj/Debug/net7.0/Infrastructure.dll
CleanPOS/Infrastructure/obj/Debug/net7.0/Infrastructure.pdb
CleanPOS/Infrastructure/obj/Debug/net7.0/Infrastructure.sourcelink.json
CleanPOS/Infrastructure/obj/Debug/net7.0/ref/Infrastructure.dll
CleanPOS/Infrastructure/obj/Debug/net7.0/refint/Infrastructure.dll
CleanPOS/WebApi/bin/Debug/net7.0/Application.dll
CleanPOS/WebApi/bin/Debug/net7.0/Application.pdb
CleanPOS/WebApi/bin/Debug/net7.0/Domain.dll
CleanPOS/WebApi/bin/Debug/net7.0/Domain.pdb
CleanPOS/WebApi/bin/Debug/net7.0/Infrastructure.dll
CleanPOS/WebApi/bin/Debug/net7.0/Infrastructure.pdb
CleanPOS/WebApi/bin/Debug/net7.0/WebApi.dll
CleanPOS/WebApi/bin/Debug/net7.0/WebApi.pdb
CleanPOS/WebApi/obj/Debug/net7.0/WebApi.AssemblyInfo.cs
CleanPOS/WebApi/obj/Debug/net7.0/WebApi.AssemblyInfoInputs.cache
CleanPOS/WebApi/obj/Debug/net7.0/WebApi.csproj.AssemblyReference.cache
CleanPOS/WebApi/obj/Debug/net7.0/WebApi.csproj.FileListAbsolute.txt
CleanPOS/WebApi/obj/Debug/net7.0/WebApi.dll
CleanPOS/WebApi/obj/Debug/net7.0/WebApi.pdb
CleanPOS/WebApi/obj/Debug/net7.0/WebApi.sourcelink.json
CleanPOS/WebApi/obj/Debug/net7.0/ref/WebApi.dll
CleanPOS/WebApi/obj/Debug/net7.0/refint/WebApi.dll
CleanPOS/Application/obj/Debug/net7.0/Application.AssemblyInfo.cs
CleanPOS/Application/obj/Debug/net7.0/Application.AssemblyInfoInputs.cache
CleanPOS/Application/obj/Debug/net7.0/Application.csproj.AssemblyReference.cache
CleanPOS/Domain/obj/Debug/net7.0/Domain.AssemblyInfoInputs.cache
CleanPOS/Domain/obj/Debug/net7.0/Domain.assets.cache
CleanPOS/Domain/obj/Debug/net7.0/Domain.csproj.AssemblyReference.cache
CleanPOS/Application/obj/Debug/net7.0/Application.AssemblyInfoInputs.cache
CleanPOS/Application/obj/Debug/net7.0/Application.AssemblyInfo.cs
CleanPOS/Application/obj/Debug/net7.0/Application.AssemblyInfo.cs
